/* TASK LIST */
#task-list {
    position: fixed;
    left: 0;
    top: 10vh;
    width: 100%;
    height: 75%;

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
    padding: 24px;

    overflow: scroll;
}

@media (min-width: 55em) {
    #task-list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(10, 1fr);
        overflow: scroll;
    }
}
